<table class='table table-dark table-striped table-bordered table-hover table-sm table-responsive'>
  <thead>
    <tr>
      <th scope='col'>Date</th>
      <th scope='col'>Description</th>
      <th scope='col'>Account</th>
      <th scope='col'>Category</th>
      <th scope='col'>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.date %></td>
        <td><%= transaction.description %></td>
        <td><%= transaction.account.name %></td>
        <td><%= transaction.category.name %></td>
        <td><%= transaction.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class='container'>
<h2> Import Data</h2>
  <%= form_tag import_transactions_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag 'Import CSV' %>
  <% end %>
</div>
